services:
  mariadb:
    image: mariadb:latest
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: crypto_tracker_db
      MARIADB_USER: user
      MARIADB_PASSWORD: password